.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type='text'] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  input[type='text']:focus {
    border-color: #ff99cc;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #ff99cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff99cc;
    animation: button-hover 1s linear 0s 2 alternate-reverse both;
  }
  
  .error-message {
    color: #e74c3c;
    margin-top: 20px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  
    input[type='text'], button {
      width: 100%;
    }
  }

  @keyframes button-hover {
    0% {
      transform: translate(0);
    }
  
    10% {
      transform: translate(-2px, -2px);
    }
  
    20% {
      transform: translate(2px, -2px);
    }
  
    30% {
      transform: translate(-2px, 2px);
    }
  
    40% {
      transform: translate(2px, 2px);
    }
  
    50% {
      transform: translate(-2px, -2px);
    }
  
    60% {
      transform: translate(2px, -2px);
    }
  
    70% {
      transform: translate(-2px, 2px);
    }
  
    80% {
      transform: translate(-2px, -2px);
    }
  
    90% {
      transform: translate(2px, -2px);
    }
  
    100% {
      transform: translate(0);
    }
  }